.home-header {
  width: 100%;
  background: #ffffff;
}
.header-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: flex-end;
}

.header-container .nav-ul {
  display: flex;
  list-style: none;
  margin-bottom: 0;
}
.header-container .nav-li {
  margin: 0px 24px;
}
.header-container .nav-a {
  text-decoration: none;
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #6e7171;
  border: none;
  background: none;
}

.home-tabs {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 161px;
  background: linear-gradient(180deg, #ffffff 0%, #e3f0ee 67.14%);
}
.tabs-container {
  display: flex;
  flex-direction: column;
}
.tabs-container .title {
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  color: #2a2b2b;
  padding-bottom: 50px;
}
.tabs-container .tabs {
  display: flex;
  flex-direction: row;
}
.tabs-container .tabs .tab {
  margin-right: 5px;
  text-decoration: none;
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #b7b7b7;
  background: #ffffff;
  padding: 8px 16px;
  border-radius: 4px 4px 0px 0px;
  border: none;
}
.home-form .template-home-form {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.template-home-form .field-checked {
  display: flex;
}
.template-home-form .field-selected > select {
  width: 255px;
  padding: 10px;
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  border: 1px solid #e3e3e3;
  background: #ffffff;
  color: #848687;
}
.divide-line {
  border: 1px solid #f5f5f5;
}
.home-card-list {
  padding: 30px 0;
}
.home-card-list .card-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-card-list .card-custom {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.card-custom:hover {
  z-index: 999;
  transform: scale(1.1);
}
.card-custom .card-title {
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  color: #212121;
}
.card-custom .card-subtitle {
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}
.card-custom .card-text {
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #f48120;
}
.card-custom .card-text > img {
  vertical-align: unset;
}
.card-custom .card-action {
  border: 1px solid #f16037;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 6px 16px;
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #f16037;
}
.home-footer {
  background: #141515;
}
.footer-linked {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.social-ul {
  list-style: none;
  display: flex;
}
.social-ul > li {
  margin-left: 15px;
}
.divide-line-footer {
  border: 1px solid #2a2b2b;
}
.footer-copyright {
  display: flex;
  justify-content: space-between;
  color: #f5f5f5;
}
.copyright-left {
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: normal;
  color: #6e7171;
}

.copyright-right > a {
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #a2a3a3;
  margin-left: 15px;
}
.mobile-custom {
  display: flex;
  flex-direction: column;
}
.copyright-mobile > a {
  color: #a2a3a3;
  font-family: SVN-Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-right: 10px;
}
.social-ul-mobile {
  list-style: none;
  display: flex;
}
.social-ul-mobile > li {
  margin-right: 10px;
}
